{% extends "index.html"%}

{% block saturs%}

<h1>skolēnu atzīmju pievienošana:</h1>
<form>
    <input type="number">
    <select></select>
    <select></select>
    <input type="submit" value="Pievienot atzīmi!">
</form>

<h1>skolotāju sasaistība ar preikšmetiem:</h1>
<table class="table">
    <tr>
        <th>Vārds</th>
        <th>Uzvārds</th>
        <th>Priekšmets</th>
        <th>Atzīme</th>
    </tr>
</table>

<h1>Skolēnu visas atzīmes:</h1>
<table class="table">
    <tr>
        <th>Vārds</th>
        <th>Uzvārds</th>
        <th>Priekšmets</th>
        <th>Atzīme</th>
    </tr>
</table>



{% endblock %}